In [1]:
import pandas as pd

# could alternatively read in 'reddit_sent_ours.csv' to progress with our sentiment analyzer
df = pd.read_csv('../data/reddit_sent.csv')

FileNotFoundError: [Errno 2] File b'../data/reddit_sent.csv' does not exist: b'../data/reddit_sent.csv'

In [26]:
df.head()

,title,score,id,comments,created,body,title_polarity,body_polarity
0,Bitcoin developer who worked with Satoshi Naka...,6,93bza3,5,1533017755,NaN,1.0,1.0
1,RBI will be against Bitcoin &amp; other crypto...,5,93c2ro,0,1533018838,NaN,1.0,1.0
2,Bitcoin sees backlash as it becomes the most e...,272,93nmm0,206,1533117533,NaN,1.0,1.0
3,UK Coinbase users can now invest in Bitcoin wi...,7,93x3a6,0,1533193644,NaN,1.0,1.0
4,Private Detectives Search for Bitcoin Creator ...,6,96im8g,3,1534011313,NaN,0.0,1.0

In [27]:
# our sentiment analyzer only outputs polarity, not subjectivity
# so if the reddit_sent_ours file was read in at the top, comment
# out blocks 1 and 3

# 1
df['r_tit_subj_comm'] = df['title_subjectivity']*df['comments']
df['r_tit_subj_score'] = df['title_subjectivity']*df['score']

# 2
df['r_tit_pol_comm'] = df['title_polarity']*df['comments']
df['r_tit_pol_score'] = df['title_polarity']*df['score']

# 3
df['r_bod_subj_comm'] = df[df.body.notna()]['body_subjectivity']*df[df.body.notna()]['comments']
df['r_bod_subj_score'] = df[df.body.notna()]['body_subjectivity']*df[df.body.notna()]['score']

# 4
df['r_bod_pol_comm'] = df[df.body.notna()]['body_polarity']*df[df.body.notna()]['comments']
df['r_bod_pol_score'] = df[df.body.notna()]['body_polarity']*df[df.body.notna()]['score']

In [7]:
# run this code block if using our sentiment analyzer
df = df.drop(['comments','id','score','title','title_polarity','title_subjectivity','body_polarity','body_subjectivity'], axis=1)

In [28]:
# run this code block if using textblob sentiment analyzer
df = df.drop(['comments','id','score','title','title_polarity','body_polarity'], axis=1)

In [30]:
import datetime

df['count'] = 1
df['Date'] = df['created'].apply(datetime.date.fromtimestamp)

df = df.drop('created', axis=1)

In [31]:
reddit_daily = df.groupby(by='Date').sum()
reddit_daily

            n_tit_pol_comm  n_tit_pol_score  count
Date
2011-06-12             1.0              8.0      1
2011-06-22             0.0             10.0      1
2012-01-23             0.0              0.0      1
2012-02-15             0.0              0.0      1
2012-08-07             7.0             13.0      1
2012-08-12             0.0              3.0      1
2012-12-08             1.0             18.0      1
2013-03-07          1083.0           1246.0      2
2013-03-21             0.0              0.0      1
2013-03-30             0.0              0.0      1
2013-04-10            11.0             26.0      2
2013-04-11             0.0              0.0      2
2013-04-14             4.0              7.0      1
2013-04-15             0.0             10.0      1
2013-05-01             3.0              4.0      1
2013-05-14             3.0             13.0      3
2013-05-16             0.0              5.0      1
2013-05-18             0.0              0.0      1
2013-06-25            13.0             66.0      2
2013-06-28             1.0             15.0      2
2013-07-01             3.0              5.0      1
2013-07-09             0.0              3.0      1
2013-07-13             8.0             17.0      1
2013-07-23             0.0              5.0      1
2013-08-03             0.0             11.0      1
2013-08-07             5.0             60.0      3
2013-08-08             0.0              0.0      1
2013-08-10             0.0              0.0      1
2013-08-12            40.0            237.0      2
2013-08-13             3.0              3.0      1
...                    ...              ...    ...
2018-06-30           160.0             68.0      1
2018-07-16            14.0             83.0      1
2018-07-17             0.0              0.0      1
2018-07-19            10.0             15.0      1
2018-07-30             5.0             11.0      2
2018-08-01           206.0            272.0      1
2018-08-02             0.0              7.0      1
2018-08-11             0.0              0.0      1
2018-08-13             1.0              4.0      1
2018-08-20            18.0             54.0      1
2018-08-23             9.0             61.0      1
2018-09-09             4.0              8.0      1
2018-09-10            16.0              9.0      1
2018-09-14            38.0            115.0      1
2018-09-18             4.0             24.0      1
2019-02-25            37.0             51.0      1
2019-04-02            12.0              9.0      2
2019-04-03             0.0              0.0      1
2019-04-07             0.0              0.0      1
2019-04-09            58.0            157.0      2
2019-04-12             0.0              0.0      1
2019-04-18           350.0            549.0      1
2019-04-23            63.0             79.0      1
2019-04-28             0.0              0.0      1
2019-05-09             1.0              3.0      1
2019-05-14             1.0              7.0      1
2019-05-21             0.0              0.0      1
2019-06-14             0.0              0.0      1
2019-06-26            28.0             16.0      2
2019-07-12            21.0             72.0      1

[507 rows x 3 columns]

In [32]:
for item in reddit_daily.columns:
    if item != 'count':
        reddit_daily[item] = reddit_daily[item]/reddit_daily['count']

In [33]:
reddit_daily.describe()

       n_tit_pol_comm  n_tit_pol_score       count
count      507.000000       507.000000  507.000000
mean        41.560921       305.902165    1.518738
std        228.629624      3797.020924    1.178339
min          0.000000         0.000000    1.000000
25%          0.000000         0.000000    1.000000
50%          1.000000         5.000000    1.000000
75%          8.000000        20.000000    2.000000
max       4100.000000     81475.000000   15.000000

In [34]:
# for textblob sentiment analyzer
reddit_daily.to_csv('../data/reddit_dailyscores.csv')

In [ ]:
# for our sentiment analyzer
reddit_daily.to_csv('../data/reddit_dailyscores_ours.csv')