In [19]:
pip install xlrd

Requirement already satisfied: xlrd in /home/anthony/anaconda3/lib/python3.7/site-packages (1.2.0)
Note: you may need to restart the kernel to use updated packages.

In [20]:
import pandas as pd

df1 = pd.read_excel("../data/bitcoin_merged.xlsx")
df2 = pd.read_csv('../../reddit/data/reddit_daily_normalized.csv')
df3 = pd.read_csv('../../reddit/data/news_daily_normalized.csv')

In [21]:
df1 = df1[df1['Inflation Rate'].notna()]

In [22]:
df2.describe()

,r_tit_subj_comm,r_tit_subj_score,r_tit_pol_comm,r_tit_pol_score,r_bod_subj_comm,r_bod_subj_score,r_bod_pol_comm,r_bod_pol_score,count
count,2388.000000,2388.000000,2388.000000,2388.000000,2388.000000,2388.000000,2388.000000,2388.000000,2388.000000
mean,0.140229,0.178859,0.505815,0.675499,0.128230,0.205547,0.177921,0.393773,0.282734
std,0.078362,0.092136,0.020302,0.023461,0.082264,0.110262,0.068156,0.052571,0.198382
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.099086,0.130233,0.503809,0.672431,0.092534,0.150477,0.153004,0.374995,0.151414
50%,0.131907,0.168000,0.504245,0.673426,0.115034,0.189844,0.161582,0.380702,0.193014
75%,0.169966,0.216054,0.505307,0.675711,0.145802,0.240062,0.179330,0.392419,0.472524
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [23]:
df3.describe()

,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
count,501.000000,501.000000,501.000000,501.000000,501.000000
mean,0.144058,0.118603,0.688879,0.563846,0.166240
std,0.183942,0.135865,0.036322,0.032955,0.266089
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.688801,0.563461,0.000000
50%,0.072026,0.110164,0.688801,0.563461,0.000000
75%,0.240567,0.176462,0.688866,0.563502,0.516973
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [24]:
# df2['Date'] = df2['date']

# df2.drop('date', axis = 1, inplace=True)

In [25]:
df = df1.merge(df2, on='Date', how='left')

In [26]:
df = df.merge(df3, on='Date', how='left')

In [27]:
df = df.fillna(value = -1.0)

In [28]:
df.to_csv('../data/bitcoin_plus_reddit_plus_news.csv')