In [18]:
import pandas as pd

df = pd.read_csv('../../data/news_sent.csv')

In [19]:
df.head()

,title,score,id,comments,created,body,title_polarity,title_subjectivity
0,Private Detectives Search for Bitcoin Creator ...,6,96im8g,3,1534011313,NaN,0.0,0.375
1,Cryptocurrency regulations in India: Modi govt...,4,96yiea,1,1534168686,NaN,0.0,0.000
2,Bitcoin fraudster &amp; head of BitConnect Ind...,54,98sk0f,18,1534762150,NaN,0.0,0.000
3,SEC Rejects Bitcoin ETFs,61,99rywy,9,1535063880,NaN,-0.1,0.600
4,US Regulators Suspend Bitcoin and Ether Invest...,8,9ehxg7,4,1536538697,NaN,0.0,0.000

In [20]:
df['n_tit_subj_comm'] = df['title_subjectivity']*df['comments']
df['n_tit_subj_score'] = df['title_subjectivity']*df['score']

df['n_tit_pol_comm'] = df['title_polarity']*df['comments']
df['n_tit_pol_score'] = df['title_polarity']*df['score']

In [21]:
df = df.drop(['comments','id','score','title','title_polarity','title_subjectivity','body'], axis=1)

In [28]:
df = df.drop(['comments','id','score','title','title_polarity'], axis=1)

In [22]:
df

,created,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score
0,1534011313,1.125000,2.250000,0.000000,0.000000
1,1534168686,0.000000,0.000000,0.000000,0.000000
2,1534762150,0.000000,0.000000,0.000000,0.000000
3,1535063880,5.400000,36.600000,-0.900000,-6.100000
4,1536538697,0.000000,0.000000,0.000000,0.000000
5,1536610045,0.800000,0.450000,0.000000,0.000000
6,1536983701,0.000000,0.000000,0.000000,0.000000
7,1537257650,0.000000,0.000000,0.000000,0.000000
8,1551103107,0.000000,0.000000,0.000000,0.000000
9,1554214407,0.000000,0.000000,0.000000,0.000000
10,1554226436,0.000000,0.000000,0.000000,0.000000
11,1554300681,0.000000,0.000000,0.000000,0.000000
12,1554631969,0.000000,0.000000,0.000000,0.000000
13,1554798697,5.800000,15.700000,11.600000,31.400000
14,1554812371,0.000000,0.000000,0.000000,0.000000
15,1555086848,0.000000,0.000000,0.000000,0.000000
16,1555639387,0.000000,0.000000,0.000000,0.000000
17,1556033804,0.000000,0.000000,0.000000,0.000000
18,1556483471,0.000000,0.000000,0.000000,0.000000
19,1557385901,0.333333,1.000000,0.250000,0.750000
20,1557878189,0.375000,2.625000,-0.125000,-0.875000
21,1558450714,0.000000,0.000000,0.000000,0.000000
22,1560545109,0.857143,1.714286,0.428571,0.857143
23,1561573160,0.400000,1.200000,0.100000,0.300000
24,1561576109,6.750000,3.250000,-6.750000,-3.250000
25,1562980499,0.000000,0.000000,0.000000,0.000000
26,1564406176,66.000000,256.400000,-24.750000,-96.150000
27,1502026705,260.824242,227.430303,157.393939,137.242424
28,1502109357,3.780000,7.020000,1.120000,2.080000
29,1502443846,716.800000,5485.200000,-716.800000,-5485.200000
...,...,...,...,...,...
733,1365621404,5.892857,12.321429,3.142857,6.571429
734,1365623060,0.000000,3.000000,0.000000,0.000000
735,1365695949,0.000000,0.000000,0.000000,0.000000
736,1365713023,0.000000,0.900000,0.000000,0.300000
737,1365931855,0.000000,0.000000,0.000000,0.000000
738,1366081515,0.000000,0.000000,0.000000,0.000000
739,1367426715,0.450000,0.600000,-0.150000,-0.200000
740,1368582076,0.000000,0.000000,0.000000,0.000000
741,1368584646,2.666667,27.333333,1.333333,13.666667
742,1368591065,0.000000,0.000000,0.000000,0.000000
743,1368754222,0.000000,0.000000,0.000000,0.000000
744,1368896532,2.022222,7.222222,-1.088889,-3.888889
745,1372166447,0.000000,0.000000,0.000000,0.000000
746,1372226130,0.000000,0.000000,0.000000,0.000000
747,1372435415,1.500000,5.000000,1.500000,5.000000
748,1372456450,0.333333,5.000000,0.250000,3.750000
749,1372729671,0.000000,0.000000,0.000000,0.000000
750,1373373782,0.000000,1.200000,-0.000000,-1.200000
751,1373745105,0.000000,0.000000,0.000000,0.000000
752,1374600891,0.000000,3.000000,-0.000000,-0.500000
753,1375545215,0.000000,2.750000,-0.000000,-2.750000
754,1375903856,0.000000,0.000000,0.000000,0.000000
755,1375904239,0.000000,0.000000,0.000000,0.000000
756,1375912221,0.000000,0.000000,0.000000,0.000000
757,1375983701,0.300000,1.200000,0.200000,0.800000
758,1327378990,0.000000,0.900000,-0.000000,-0.150000
759,1329328325,0.000000,5.916667,-0.000000,-0.697917
760,1344406384,0.000000,0.000000,0.000000,0.000000
761,1307909148,0.000000,0.000000,0.000000,0.000000
762,1308742316,0.000000,5.000000,0.000000,5.000000

In [23]:
import datetime

df['count'] = 1
df['Date'] = df['created'].apply(datetime.date.fromtimestamp)

df = df.drop('created', axis=1)

In [24]:
reddit_daily = df.groupby(by='Date').sum()
reddit_daily

,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
Date,,,,,
2011-06-12,0.000000,0.000000,0.000000,0.000000,1
2011-06-22,0.000000,5.000000,0.000000,5.000000,1
2012-01-23,0.000000,0.900000,0.000000,-0.150000,1
2012-02-15,0.000000,5.916667,0.000000,-0.697917,1
2012-08-07,0.000000,0.000000,0.000000,0.000000,1
2012-08-12,0.000000,1.050000,0.000000,-0.450000,1
2012-12-08,0.000000,0.000000,0.000000,0.000000,1
2013-03-07,0.000000,0.000000,0.000000,0.000000,2
2013-03-21,0.000000,0.000000,0.000000,0.000000,1
2013-03-30,0.000000,0.000000,0.000000,0.000000,1
2013-04-10,5.892857,15.321429,3.142857,6.571429,2
2013-04-11,0.000000,0.900000,0.000000,0.300000,2
2013-04-14,0.000000,0.000000,0.000000,0.000000,1
2013-04-15,0.000000,0.000000,0.000000,0.000000,1
2013-05-01,0.450000,0.600000,-0.150000,-0.200000,1
2013-05-14,2.666667,27.333333,1.333333,13.666667,3
2013-05-16,0.000000,0.000000,0.000000,0.000000,1
2013-05-18,2.022222,7.222222,-1.088889,-3.888889,1
2013-06-25,0.000000,0.000000,0.000000,0.000000,2
2013-06-28,1.833333,10.000000,1.750000,8.750000,2
2013-07-01,0.000000,0.000000,0.000000,0.000000,1
2013-07-09,0.000000,1.200000,0.000000,-1.200000,1
2013-07-13,0.000000,0.000000,0.000000,0.000000,1
2013-07-23,0.000000,3.000000,0.000000,-0.500000,1
2013-08-03,0.000000,2.750000,0.000000,-2.750000,1
2013-08-07,0.000000,0.000000,0.000000,0.000000,3
2013-08-08,0.300000,1.200000,0.200000,0.800000,1
2013-08-10,0.000000,0.900000,0.000000,0.600000,1
2013-08-12,0.000000,0.000000,0.000000,0.000000,2
2013-08-13,1.454545,1.454545,0.536364,0.536364,1
...,...,...,...,...,...
2018-07-16,0.000000,0.000000,0.000000,0.000000,1
2018-07-17,0.250000,0.750000,0.350000,1.050000,1
2018-07-19,1.000000,1.500000,3.000000,4.500000,1
2018-07-30,2.386364,5.051136,0.840909,1.196591,2
2018-08-01,103.000000,136.000000,103.000000,136.000000,1
2018-08-02,0.000000,0.000000,0.000000,0.000000,1
2018-08-11,1.125000,2.250000,0.000000,0.000000,1
2018-08-13,0.000000,0.000000,0.000000,0.000000,1
2018-08-20,0.000000,0.000000,0.000000,0.000000,1
2018-08-23,5.400000,36.600000,-0.900000,-6.100000,1
2018-09-09,0.000000,0.000000,0.000000,0.000000,1
2018-09-10,0.800000,0.450000,0.000000,0.000000,1
2018-09-14,0.000000,0.000000,0.000000,0.000000,1
2018-09-18,0.000000,0.000000,0.000000,0.000000,1
2019-02-25,0.000000,0.000000,0.000000,0.000000,1
2019-04-02,0.000000,0.000000,0.000000,0.000000,2
2019-04-03,0.000000,0.000000,0.000000,0.000000,1
2019-04-07,0.000000,0.000000,0.000000,0.000000,1
2019-04-09,5.800000,15.700000,11.600000,31.400000,2
2019-04-12,0.000000,0.000000,0.000000,0.000000,1
2019-04-18,0.000000,0.000000,0.000000,0.000000,1
2019-04-23,0.000000,0.000000,0.000000,0.000000,1
2019-04-28,0.000000,0.000000,0.000000,0.000000,1
2019-05-09,0.333333,1.000000,0.250000,0.750000,1
2019-05-14,0.375000,2.625000,-0.125000,-0.875000,1
2019-05-21,0.000000,0.000000,0.000000,0.000000,1
2019-06-14,0.857143,1.714286,0.428571,0.857143,1
2019-06-26,7.150000,4.450000,-6.650000,-2.950000,2
2019-07-12,0.000000,0.000000,0.000000,0.000000,1
2019-07-29,66.000000,256.400000,-24.750000,-96.150000,1

In [25]:
for item in reddit_daily.columns:
    if item != 'count':
        reddit_daily[item] = reddit_daily[item]/reddit_daily['count']

In [28]:
reddit_daily.describe()

,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
count,501.000000,501.000000,501.000000,501.000000,501.000000
mean,14.152181,65.375255,4.291997,59.877606,1.522954
std,60.490520,502.344984,64.638530,1120.897525,1.184049
min,0.000000,0.000000,-357.300000,-2739.966667,1.000000
25%,0.000000,0.000000,0.000000,0.000000,1.000000
50%,0.025000,1.200000,0.000000,0.000000,1.000000
75%,3.111111,7.900000,0.136364,0.800000,2.000000
max,928.905455,8147.500000,1230.000000,24442.500000,15.000000

In [29]:
reddit_daily.to_csv('../../data/news_dailyscores.csv')