In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

In [8]:
df = pd.read_csv('../../data/news_dailyscores.csv')
scaler = MinMaxScaler()

# scale all cols besides date to range from zero to one
for item in df:
    if item != 'Date':
        df[item] = scaler.fit_transform(df[[item]])

In [9]:
df.head()

,Date,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
0,2011-06-12,0.0,0.000000,0.225099,0.100799,0.0
1,2011-06-22,0.0,0.000614,0.225099,0.100983,0.0
2,2012-01-23,0.0,0.000110,0.225099,0.100794,0.0
3,2012-02-15,0.0,0.000726,0.225099,0.100773,0.0
4,2012-08-07,0.0,0.000000,0.225099,0.100799,0.0

In [10]:
# spread out the values a little more
for item in df:
    if item!='Date':    
        df[item] = np.power(df[item],1./3)

In [11]:
df.describe()

,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
count,501.000000,501.000000,501.000000,501.000000,501.000000
mean,0.144058,0.118603,0.688879,0.563846,0.166240
std,0.183942,0.135865,0.036322,0.032955,0.266089
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.688801,0.563461,0.000000
50%,0.072026,0.110164,0.688801,0.563461,0.000000
75%,0.240567,0.176462,0.688866,0.563502,0.516973
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [12]:
df.to_csv('../../data/news_daily_normalized.csv', index=False)