In [17]:
import pandas as pd

df = pd.read_csv('news_dailyscores.csv')

In [18]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

print(type(df[['count']]))

for item in df:
    if item != 'Date':
        df[item] = scaler.fit_transform(df[[item]])

<class 'pandas.core.frame.DataFrame'>

In [19]:
df.head()

,Date,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
0,2011-06-12,0.0,0.000000,0.225099,0.100799,0.0
1,2011-06-22,0.0,0.000614,0.225099,0.100983,0.0
2,2012-01-23,0.0,0.000110,0.225099,0.100794,0.0
3,2012-02-15,0.0,0.000726,0.225099,0.100773,0.0
4,2012-08-07,0.0,0.000000,0.225099,0.100799,0.0

In [20]:
import numpy as np

for item in df:
    if item!='Date':    
        df[item] = np.power(df[item],1./3)

In [21]:
df.describe()

,n_tit_subj_comm,n_tit_subj_score,n_tit_pol_comm,n_tit_pol_score,count
count,507.000000,507.000000,507.000000,507.000000,507.000000
mean,0.100128,0.072917,0.608940,0.466257,0.138334
std,0.149044,0.108020,0.035769,0.032888,0.225207
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.608310,0.465392,0.000000
50%,0.029968,0.052810,0.608310,0.465392,0.000000
75%,0.147814,0.098901,0.608387,0.465437,0.414913
max,1.000000,1.000000,1.000000,1.000000,1.000000

In [22]:
df.to_csv('news_daily_normalized.csv', index=False)